.ust li,
a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-top: 20px;
    width: max;

}

.ust a:hover {
    background-color: white;
    color: black;
    transition: 1s;
}

p {
    font-size: 1.5em;
}


.ust {
    position: absolute;
    right: 15px;
    top: 10px;
}

body {
    background: linear-gradient(red, rgb(29, 28, 28)) 100% fixed;
    text-align: center;
}

img {
    text-align: center;
}

.alt {
    background-color: gray;
}

.alt a {
    color: black;
}

.turist-icerik h1 {
    float: left;
    margin-left: 20px;
}